@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Tajawal:wght@300;400;500;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html,
:root {
  height: 100%;
  font-family: "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #232323;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #cca756;
}
.rtl {
  p,
  h1,
  h2,
  h3,
  h4,
  span,
  input {
    direction: rtl;
  }
}
.en {
  direction: ltr;
}
.ar {
  direction: rtl;
}
.cool {
  -webkit-text-stroke: 2px;
}

.cool-title {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 2px;
}
.gradient-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  -webkit-text-stroke: 4px;
}

.normal-gradient-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.cool-text {
  background-color: transparent;
  font-weight: 800;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05rem;
}
.text-animation {
  animation: shine 4s ease-in-out alternate-reverse infinite;
}
.works {
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .swiper-wrapper {
    transition-timing-function: ease-in-out;
    padding: 0 50px 20px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .swiper-pagination-bullet {
    background: #888 !important;
  }
  .swiper-pagination-bullet-active {
    background: #cca756 !important;
  }
}
.about {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
}
.companies-boxes {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  @media (max-width: 500px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #cca756;
}
.swiper-button-prev,
.swiper-button-next {
  color: #cca756;
  &::after {
    font-size: 20px;
  }
}
@keyframes shine {
  0% {
    color: #ffff;
    text-shadow: none;
  }
  100% {
    color: #fff;
    text-shadow: 0 0 0.3rem, 0 0 0.35rem, -0.2rem 0.1rem 0.25rem,
      0.2rem 0.1rem 0.25rem, 0 -0.5rem 0.5rem, 0 0.5rem 1rem;
  }
}
.animate_overlay1 {
  animation: overlay 7s infinite alternate-reverse;
}
.animate_overlay2 {
  animation: overlay 7s 1s infinite alternate-reverse;
}
.animate_overlay3 {
  animation: overlay 7s 2s infinite alternate-reverse;
}
.animate_overlay4 {
  animation: overlay 7s 3s infinite alternate-reverse;
}
.animate_overlay5 {
  animation: overlay 7s 4s infinite alternate-reverse;
}
.animate_overlay6 {
  animation: overlay 7s 5s infinite alternate-reverse;
}
.animate_overlay7 {
  animation: overlay 7s 6s infinite alternate-reverse;
}
@keyframes overlay {
  0% {
    opacity: 1;
  }
  14% {
    opacity: 0.1;
  }
  28% {
    opacity: 0.1;
  }
  42% {
    opacity: 0.1;
  }
  56% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.1;
  }
  84% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
